<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Predex" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <.link href={~p"/"} class="-m-1.5 p-1.5">
            <span class="sr-only">Predex</span>
            <div class="flex items-center gap-2">
              <.icon name="hero-globe-alt" class="size-8" />
              <p class="font-semibold text-md">Predex</p>
            </div>
          </.link>
        </div>
        <div class="lg:flex lg:gap-x-12"></div>
        <div class="lg:flex lg:flex-1 lg:justify-end gap-2">
          <%= if @current_user do %>
            <.link
              href={~p"/markets"}
              class="text-md font-semibold hover:bg-zinc-700 hover:text-white rounded-md border-2 border-zinc-700 p-2"
            >
              Markets
            </.link>
            <.link
              href={~p"/users/log_out"}
              class="text-md font-semibold hover:bg-zinc-700 hover:text-white rounded-md border-2 border-zinc-700 p-2"
            >
              Log Out
            </.link>
          <% else %>
            <.link
              href={~p"/users/log_in"}
              class="text-md font-semibold hover:bg-zinc-700 hover:text-white rounded-md border-2 border-zinc-700 p-2"
            >
              Log In
            </.link>
            <.link
              href={~p"/users/register"}
              class="text-md font-semibold hover:bg-zinc-700 hover:text-white rounded-md border-2 border-zinc-700 p-2"
            >
              Register
            </.link>
          <% end %>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
